include ../../../frontend/components/core/templates/mixins.pug
-
  let attrs1 = {colour: 'blue', size: 'large'}
  let attrs2 = {colour: 'red', size: 'large'}
+button('Button', attrs1)
+button('Button', attrs2)
