@import 'neat-helpers';

$gutter: 15px;
$grid-columns: 12;

$neat-grid: (
  columns: $grid-columns,
  gutter: $gutter
);

$max-width: 1200px;
// Define your breakpoints
//$mob: new-breakpoint(min-width 767px 12);
//$tab: new-breakpoint(min-width 767px 12);

$desktop: min-width 960px;
$mobile: max-width 767px;
$tablet: max-width 959px min-width 768px;
