// @import 'neat-helpers';

$gutter: 15px;
$grid-columns: 12;

$neat-grid: (
  columns: $grid-columns,
  gutter: $gutter
);

$max-width: 1200px;
// Define your breakpoints
//$mob: new-breakpoint(min-width 767px 12);
//$tab: new-breakpoint(min-width 767px 12);

$mobile: (max-width: 767px);
$desktop: (min-width: 960px);
$tablet: (max-width: 959px) and (min-width 768px);

$media-mobile: '(max-width: 767px)';
$media-tablet: '(min-width: 768px) and (max-width: 959px)';
$media-desktop: '(min-width: 960px)';
