// EFFECT STYLES
// ---------------------

// REQIURES...
//
// From _vars.scss
// $spacing-1
//
// From _colours.scss
// $active-blue
//
// From _mixins.scss
// @mixin right-chevron-1

.Modal-Container {
  background-color: $white;
	border: $light-grey solid 1px;
  display: none;
  height: auto;
  left: $spacing-3;
  margin-top: $spacing-3;
  position: absolute;
  width: calc(100% - (#{$spacing-3 * 2}));

  .close {
    @include body-m;
    background-color: transparent;
    border: none;
    color: $active-blue;
    cursor: pointer;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: 0;
    z-index: 1;

    &:focus {
      outline: $focus-yellow solid 3px;
    }
  }

  .content {
    margin-bottom: -10px;
    padding: $spacing-3;
    position: relative;
    z-index: 0;
  }
}

.Modal-Overlay {
  background-color: $black;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}
