// Main Site Header
// ----------------

// REQIURES...

// From _colours.scss
// $dark-navy
// $dark-blue
// $focus-yellow
// $great-blue
// $light-grey
// $white

// From _vars.scss
// $spacing-3
// $spacing-4

// From _mixins.scss
// @mixin down-chevron-1
// separator

// From _typography.scss
// @mixin body-s

#header-bar {
  @include body-s;
  background-color: $great-blue;
  color: $white;
  overflow: hidden;
  height: 110px;

  a {
    color: inherit;
    font-weight: bold;
  }

  a.language-selector {
    display: inline-block;
    text-decoration: none;
    img {
      margin: 0;
      display: inline-block;
      width: 20px;
    }
  }

  img {
    max-width: 158px;
    width: 100%;
    margin: 20px 0 15px;
  }

  p {
    margin: 0;
    padding: 7px 0 4px 0;

    &:before {
      display: none;
    }
  }

  .account-links {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-right: $spacing-3 + 25px;
    li {
      display: inline-block;
      padding: 7px 0 4px 0;
    }
  }

  .top-bar {
    .account-locale-links {
      float: right;
    }
  }

  .anonymous {
    color: $focus-yellow;
  }

  .profile,
  .signout {
    &:before {
      @include separator($white);
      position: static;
    }
  }

  .government-links {
    float: left;

    a,
    span {
      vertical-align: top;
    }
  }

  .greeting {
    display: inline-block;
    float: right;
    padding: 7px 0 4px 0;
  }

  .language-selector {
    &:before {
      content: "";
      height: 20px;
      width: 20px;
      margin-left: -25px;
      position: absolute;
      background: url('/shared-header-footer/eig-world-language-icon.svg');
      background-repeat: no-repeat;
    }
  }

  .signin {
    &:before {
      @include separator($focus-yellow);
    }
  }
}


#header-menu {
  color: $white;
  position: relative;

  .home {
    cursor: pointer;
    display: inline-block;
  }
}

#skip-link {
  background-color: $great-blue;
  color: $white;
  display: inline-block;
  padding: $spacing-4;

  &:focus {
    background-color: $focus-yellow;
    color: $dark-blue;
    left: 0;
    text-indent: 0;
    top: 0;
    z-index: 1;
  }
}


// TABLET
@media screen and (max-width: 767px) {
  #header-bar {
    .partof {
      display: none;
    }
  }

  #header-menu {
    .container {
      margin: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  #header-bar {
    .profile {
      &:before {
        display: none;
      }
    }

    .greeting {
      display: none;
    }
  }
}

// logo breakpoint
@media screen and (max-width: 450px) {
  #header-bar {
    height: 115px;
    .container {
      overflow: auto;
    }
    img {
      margin: 0;
      margin-top: 5px;
      max-width: 130px;
    }
  }
}
