.tabswitcher {
  border:solid 1px $black;
  margin-bottom:1rem;
  &--initialised {
    .tabswitcher__pane {
      display: none;
      &--active {
        display:inline-block;
      }
    }

  }
  &__nav {

  }
  &__btn{
    display:inline-block;
    padding:0.5rem;
    cursor: pointer;
    background: $white;
    color: $grey;

    &--active {
      background: $grey;
      color: $white;
    }
  }

  &__content {
    // position:relative;
  }

  &__pane {
    width:90%;
    // position:absolute;
    // top:0;
    // left:0;

  }


}
