// sass-lint:disable mixins-before-declarations, no-ids, no-duplicate-properties

.topBar {
  height: 2em;

  &__logo-hmg {
    display: block;
    padding: 0 5px 0 2px;
    position: relative;
    top: 6px;

    img {
      display: block;
    }

    &::after {
      color: $grey-opacity-5;
      content: '|';
      font-size: 20px;
      position: absolute;
      right: -6px;
      top: -2px;
    }
  }

  &__logo-tagline {
    color: $porcelain;
    display: block;
    font-size: 14px;
    font-weight: 300;
    left: 15px;
    position: relative;
    text-decoration: none;
    top: 1px;

    span {
      margin-right: 5px;
    }

    &:hover {
      border-bottom: 1px dashed;
      color: $white;
      margin-bottom: -1px;
    }

    strong {
      color: $white;
      font-weight: 400;
    }
  }
}

.logoBar {
  height: 55px;

  @include tablet {
    width: 100%;
  }

  &__logo-eig {
    padding: 17px 0 4px;
    width: 70%;
    @include tablet {
      width: 100%;
    }
  }
}

.navigationBar {
  display: none;
  height: 38px;

  @include tablet {
    display: block;
    overflow-y: scroll;
  }

  @include desktop {
    display: block;
    overflow-y: hidden;
  }

  &__list {
    list-style: none;
    position: relative;

    @include tablet {
      height: 38px;
      width: 140%;
    }

    &__item {
      display: inline-block;
      position: relative;
      @include separator(20px, $grey-opacity-5, -1px, 7px);
    }

    &__item--noSeparator {
      @include separator(0);
    }
  }

  &__link {
    background-color: $dark-blue;
    color: $white;
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin: 3px;
    outline: 3px solid $dark-blue;
    padding: 5px 8px 4px;
    position: relative;

    &:hover,
    &--active {
      &::after {
        border-top: 3px solid $great-red;
        content: '';
        left: 0;
        position: absolute;
        top: -3px;
        width: 100%;
      }
    }

    &:focus {
      outline: 3px solid $focus-yellow;
    }

    &--primary {
      background-color: $light-blue;
      font-weight: 400;
      outline: 3px solid $light-blue;
    }
  }
}

.megaMenuToggle {
  background-color: $mid-blue;
  border: 0;
  border-left: 2px solid $black;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 10px 5px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: -46px;

  &:hover {
    background-color: $dark-navy;
    border-top: 3px solid $great-red;
    display: block;
    padding-top: 5px;
  }

  @include desktop {
    right: 20px;
    top: 0;
  }

  &__icon {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTcgMTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE3IDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMTciIGhlaWdodD0iMiIvPjxyZWN0IHk9IjUiIGNsYXNzPSJzdDAiIHdpZHRoPSIxNyIgaGVpZ2h0PSIyIi8+PHJlY3QgeT0iMTAiIGNsYXNzPSJzdDAiIHdpZHRoPSIxNyIgaGVpZ2h0PSIyIi8+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+'), linear-gradient(transparent, transparent);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    line-height: 15px;
    margin-right: 2px;
    top: 1px;
    width: 25px;
  }

  &__text {
    color: $white;
  }
}

.megaMenu {
  display: none;

  &__heading {
    color: $grey-tranquil;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 15px;
  }

  &__list {

    &__item {
      font-size: 15px;
      font-weight: 400;
      padding: 10px 0 0;

      &--primary {
        background-color: $mid-blue;
        font-weight: 500;

        @include tablet {
          background-color: initial;
        }
      }

      a {
        border-bottom-width: 1px;
        border-color: $grey-opacity-5;
        border-style: solid;
        color: $white;
        display: block;
        margin-left: 30px;
        padding-bottom: 10px;
      }

      @include tablet {

        a {
          border: 0;
          margin-left: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

#megaMenu-disclosure {
  &:checked~#megaMenu {
    display: block; // sass-lint:disable-line no-ids
  }
}

#skiptocontent {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  width: 1px; // sass-lint:disable-line no-ids
}

.gradientWidget {
  background: -o-linear-gradient(right, $dark-blue-opacity-0, $dark-blue-opacity-1);
  background: -moz-linear-gradient(right, $dark-blue-opacity-0, $dark-blue-opacity-1);
  background: linear-gradient(to right, $dark-blue-opacity-0, $dark-blue-opacity-1);
  height: 38px;
  width: 80px;
}
