include ../../../frontend/components/core/templates/mixins.pug
section.background--mid-grey
  .container.chevron
    .grid-container
      .column-one-half
        p
        h1.h1 Section One
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      .column-one-half
        p

section.background--light-grey
  .container.chevron
    .grid-container
      .column-one-half
        p
        h1.h1 Section Two
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      .column-one-half
        p


section.background--white
  .container
    .grid-container
      .column-one-half
        p
        h1.h1 Section Three
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      .column-one-half
        p
