include ../../../frontend/components/core/templates/mixins.pug
.steps
  .steps__item
    .steps__item__img__container
      img.steps__item__img.lazyload(alt='placeholder - 250x250.png', src='/images/placeholder-250x250.png')
    .steps__item__text__container
      .steps__item__number 1
      .steps__item__text__content
        +h4('Step 1')
        +p__no_margin_bottom('These are the steps to take. These are the steps to take. These are the steps to take. These are the steps to take.')
  .steps__item
    .steps__item__img__container
      img.steps__item__img.lazyload(alt='placeholder - 250x250.png', src='/images/placeholder-250x250.png')
    .steps__item__text__container
      .steps__item__number 2
      .steps__item__text__content
        +h4('Step 2')
        +p__no_margin_bottom('These are the steps to take. These are the steps to take. These are the steps to take. These are the steps to take.')
  .steps__item
    .steps__item__img__container
      img.steps__item__img.lazyload(alt='placeholder - 250x250.png', src='/images/placeholder-250x250.png')
    .steps__item__text__container
      .steps__item__number 3
      .steps__item__text__content
        +h4('Step 3')
        +p__no_margin_bottom('These are the steps to take. These are the steps to take. These are the steps to take. These are the steps to take.')
