.navigation {
  li {
    position: relative;

    &:after {
      @extend %transparent-color;
      content: '|';
      position: absolute;
      right: 0;
      top: 0;
    }

    &:last-child,
    &:nth-child(3) {
      &:after {
        content: '';
      }
    }
  }

  a {
    display: block;
  }

  &-main {
    @extend %anchor-white;

    li {
      &:after {
        top: 5px;
      }
    }

    a {
      font-size: $small;
      padding: 5px 17px;
    }

    &--link {

      &:hover,
      &--active {

        &:after {
          border-top: 3px solid $flag-red;
          content: '';
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }

  &-strip {
    @extend %anchor-light-grey;

    a {
      font-size: $xsmall;
      padding: 0 5px 0 2px;
    }
  }
}
