.navigation {

  a {
    display: block;
  }

  &-main {
    @extend %anchor-white;

    &-section {
      position: relative;
    }

    li {
      &:after {
        top: 7px;
      }
    }

    a {
      font-size: $small;
    }

    &-link {
      padding: 8px 11px 7px;
    }

    &-link--services {
      &:hover,
      &--active {

        &:after {
          border-top: 3px solid $great-red;
          content: '';
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    &-menu {
      overflow-x: scroll;
      padding-right: 70px;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-toggle {
    display: none;

    &--open {
      display: block;
    }
  }

  &-main-button {
    background-color: $light-blue;
    border-left: 2px solid $black;
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 10px 5px;
    position: absolute;
    right: 0;
    top: 0;

    .icon {
      height: 12px;
      line-height: 15px;
      margin-right: 2px;
      top: 1px;
      width: 25px;
    }

    &:hover,
    &--open {
      background-color: $dark-navy;
      border-top: 3px solid $great-red;
      padding-top: 5px;
    }
  }

  &-strip {
    @extend %anchor-light-grey;
    padding: 8px 0 3px;

    a {
      font-size: $xsmall;
      padding: 0 5px 0 2px;
    }
  }

  &-logo {
    padding: 17px 0 11px;
  }
}
