doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title EIG Styleguide
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet' href='css/main.css')
  body
    script.
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled')
    include ../layout/header
    h1 hey!
    include ../layout/footer
    script(src="js/jquery.js")
    script(src="js/navigation.js")
    script(src="js/sso.js")
