.background__panel__container {
  @extend %cf;
  clear: both;
  text-align: center;
  vertical-align: top;
}

.background__panel {
  border: solid 1px $black;
  border-radius: 1rem;
  float: left;
  height: 8rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  width: 8rem;
}

@each $name, $color in $backgrounds {
  .background {

    &--#{$name} {
      background-color: $color;

      .chevron::after {
        border-top-color: $color;
      }
    }
  }
}
