@import 'neat';
//extracting burbon-neat grid classes for non-silent implimentation (adding classes to markup)

.grid-container {
  @include grid-container;

  &--inner {
    @include grid-collapse;
  }
}

.column-full,
.column-one-half,
.column-one-third,
.column-two-third,
.column-one-quarter,
.column-one-sixth,
.column-one-twelfth {
  margin-bottom: $gutter;
}

.column-full {
  @include grid-column(12);
}

.column-one-half {
  @include grid-column(6);
  @include mobile {
    @include grid-column(12);
  }
}

.column-one-third {
  @include grid-column(4);
  @include mobile {
    @include grid-column(12);
  }
}

.column-two-third {
  @include grid-column(8);
  @include mobile {
    @include grid-column(12);
  }
}

.column-one-quarter {
  @include grid-column(3);
  @include mobile {
    @include grid-column(12);
  }
}

.column-one-sixth {
  @include grid-column(2);
  @include mobile {
    @include grid-column(12);
  }
}

.column-one-twelfth {
  @include grid-column(1);
  @include mobile {
    @include grid-column(12);
  }
  @include tablet {
    @include grid-column(6);
  }
}

.column-debug {
  background: $stone;
  min-height: 200px;
  padding: 15px;
}
