// Create vendor prefixes
@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{'-' + $vendor + '-' + $prop}: #{$value};
      }
    }
    #{$prop}: #{$value};
  }
}

// Set font dimensions
@mixin font($font-size, $letter-spacing, $line-height: '') {
  font-size: $font-size;
  letter-spacing: $letter-spacing;

  @if $line-height != '' {
    line-height: $line-height;
  }
}

@mixin separator($font-size, $color: $grey-opacity-5, $right: 0, $top: 0) {
  &::after {
    color: $color;
    content: '|';
    font-size: $font-size;
    position: absolute;
    right: $right;
    top: $top;
  }
}

@mixin link-notch($color: $great-red, $left: 0, $top: 0) {
  &::after {
    border-bottom: 10px solid transparent;
    border-left: 15px solid $color;
    border-top: 10px solid transparent;
    content: '';
    height: 0;
    left: $left;
    pointer-events: none;
    position: absolute;
    top: $top;
    width: 0;
  }
}

@mixin bottom-margin($multiple: 1) {
  margin-bottom: (15px * $multiple);
}

// interpolate media query: https://webdesign.tutsplus.com/tutorials/all-you-ever-need-to-know-about-sass-interpolation--cms-21375
@mixin mobile {
  @media #{$media-mobile} {
    @content;
  }
}

@mixin mobile-up {
  @media #{$media-mobile-up} {
    @content;
  }
}


@mixin tablet {
  @media #{$media-tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$media-desktop} {
    @content;
  }
}
