body {
  @extend %regular;
  @include font($base-font-size, 0, $base-line-height);
  background-color: $body-background-color;
  color: $grey;
  font-family: $brand-font-family;
  position: relative;
}

// FONT WEIGHT
%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

%font-base {
  font-size: $base-font-size;
}


// HEADERS
%h1 {
  @extend %medium;
  @include bottom-margin(0);
  @include font($h1-font-size-mobile, -1px, 40px);

  @include mobile-plus {
    @include bottom-margin(1);
    font-size: $h1-font-size-desktop;
    font-weight: 500;
    line-height: 55px;
  }
}

%h2 {
  @include bottom-margin(1);
  @include font($h2-font-size-mobile, -.7px, 32px);
  @include mobile-plus {
    @include font($h2-font-size-desktop, -.6px, 40px);
  }

}

%h3 {
  @include bottom-margin(1);
  @include font($h3-font-size-mobile, 0, 1.39);

  @include mobile-plus {
    @include font($h3-font-size-desktop, 0, 31px);
  }
}

%h4 {
  @include bottom-margin(1);
  @include font($h4-font-size-mobile, 0, 25px);

  @include mobile-plus {
    @include font($h4-font-size-desktop, 0, 25px);
  }
}

.font {

  &-base {
    @extend %font-base;
  }

  &-white {
    color: $white;
  }

  &-brand {
    color: $grey;
  }

  &-purple {
    color: $purple;
  }

  &-light-grey {
    color: $light-grey;
  }

  &-light {
    @extend %light;
  }

  &-regular {
    @extend %regular;
  }

  &-medium {
    @extend %medium;
  }

  &-lead {
    // @extend %h4;
    // line-height: 32px;

    @include font($h3-font-size-mobile, 0, 32px);

    @include mobile-plus {
      @include font($h3-font-size-desktop, 0, 25px);
    }

    font-weight: 300;
  }

  &-xlarge {
    @extend %h3;
  }

  &-small {
    font-size: $small;
    line-height: 20px;
  }

  &-xsmall {
    @include font($xsmall, normal, $xsmall);
  }

  &-quote {
    color: $grey;
    font-family: Georgia;
    font-size: 24px;
    font-weight: regular;
    line-height: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @extend %medium;
}

blockquote {
  @extend %font-base;
  line-height: 25px;
}

hr {
  background-color: $purple;
  border: 0;
  display: block;
  height: 1px;
  padding: 0;

  &.white {
    @extend %transparent-background;
  }
}

p {
  margin-bottom: 23px;

  &.font-large {
    margin-bottom: 25px;
  }
}
