extends ../layout/base.pug

block content
  header(role='banner')
    .background--dark-navy.cf
      .outer-container
        ul.list-inline
          li.list-separators
            a.logo-hmg(href='https://www.gov.uk/', title='Go to the GOV.UK homepage')
              img(alt='HM Government logo', src='/images/HM_Government_logo_horizontal.svg')
          li
            a.link--white(href='https://great.gov.uk/', title='Part of great.gov.uk')
              span.hide-mobile
                | Part of
              span.hide-mobile
              strong great.gov.uk
    .background--great-blue.cf
      .outer-container
        a.float--left(href='https://www.export.great.gov.uk/', title='Go to the Exporting is GREAT homepage')
          img.eig-logo(alt='Exporting is GREAT logo', src='/images/EiG_logo_horizontal.svg')
    .background--dark-blue.cf
      .outer-container
        nav.navigationBar
          ul.list-inline
            li
              a.navigationBar-link.background--light-blue(title='new to exporting', href='https://www.export.great.gov.uk/new/') New to exporting
            li
              a.navigationBar-link.background--light-blue.font-regular(title='occasional exporter', href='https://www.export.great.gov.uk/occasional/') Occasional exporter
            li
              a.navigationBar-link.background--light-blue.font-regular(title='regular exporter', href='https://www.export.great.gov.uk/regular/') Regular exporter
            li
              a.navigationBar-link(href='https://www.export.great.gov.uk/opportunities', title='Export opportunities') Export opportunities
            li
              a.navigationBar-link(href='http://find-a-buyer.export.great.gov.uk/', title='Find a buyer') Find a buyer
            li
              a.navigation-main-link.navigation-main-link--secondary.navigation-main-link--active(href='https://selling-online-overseas.export.great.gov.uk/markets/', title='Selling online overseas') Selling online overseas
            li
              a.navigation-main-link.navigation-main-link--secondary(href='https://export.great.gov.uk/get-finance/', title='Get finance') Get finance
            li
              a.navigation-main-link.navigation-main-link--secondary(href='https://events.trade.gov.uk/', title='Events') Events
      