extends ../layout/full.pug

block content
  header.globalHeader(role='banner')
    div(id='skiptocontent')
      a(href='#maincontent') Skip to main content
    .background--dark-navy.cf
      nav.topBar
        .outer-container
          ul.list-inline
            li.list-separators
              a.topBar__logo-hmg(href='https://www.gov.uk/', title='Go to the GOV.UK homepage')
                img(alt='HM Government logo', src='/images/HM_Government_logo_horizontal.svg')
            li
              a.topBar__logo-tagline(href='https://great.gov.uk/', title='Part of great.gov.uk')
                span.hide-mobile
                  | Part of
                strong.hide-mobil great.gov.uk
          ul.list-inline.list-separators.float--right
            li.float--left.soft-half--right
              a.link--white(href="" title="Sign in")
                i.icon.icon--left.icon-sign-out
                  span.visuallyhidden Sign in icon
                span.hide-mobile Sign in
            li.float--left.soft-half--left.hide-mobile
              a.link--white(href="" title="Register")
                span Register
          ul.list-inline.list-separators.float--right.navigation-login.font-regular(id="sso-signout" style="display:none")
            li.float--left.soft-half--right
              a.link--white(href="https://profile.great.gov.uk/" title="Profile")
                i.icon.icon--left.icon-sign-out
                  span.hide-mobile Profile
            li.float--left.soft-half--left.hide-mobile
              a.link--white(href="https://sso.trade.great.gov.uk/accounts/logout/" title="Sign out")
                span Sign out
    .background--great-blue.cf
      .outer-container
        .logoBar.cf
          a.float--left(href='https://www.export.great.gov.uk/', title='Go to the Exporting is GREAT homepage')
            img.logoBar__logo-eig(alt='Exporting is GREAT logo', src='/images/EiG_logo_horizontal.svg')
    .background--dark-blue.cf
      .outer-container.position-relative
        nav.navigationBar
          ul.navigationBar__list
            li.navigationBar__list__item
              a.navigationBar__link.navigationBar__link--primary(title='new to exporting', href='https://www.export.great.gov.uk/new/') New to exporting
            li.navigationBar__list__item
              a.navigationBar__link.navigationBar__link--primary(title='occasional exporter', href='https://www.export.great.gov.uk/occasional/') Occasional exporter
            li.navigationBar__list__item.navigationBar__list__item--noSeparator
              a.navigationBar__link.navigationBar__link--primary(title='regular exporter', href='https://www.export.great.gov.uk/regular/') Regular exporter
            li.navigationBar__list__item
              a.navigationBar__link(href='https://www.export.great.gov.uk/opportunities', title='Export opportunities') Export opportunities
            li.navigationBar__list__item
              a.navigationBar__link(href='http://find-a-buyer.export.great.gov.uk/', title='Find a buyer') Find a buyer
            li.navigationBar__list__item
              a.navigationBar__link.active(href='https://selling-online-overseas.export.great.gov.uk/markets/', title='Selling online overseas') Selling online overseas
            li.navigationBar__list__item
              a.navigationBar__link(href='https://export.great.gov.uk/get-finance/', title='Get finance') Get finance
            li.navigationBar__list__item.navigationBar__list__item--noSeparator
              a.navigationBar__link(href='https://events.trade.gov.uk/', title='Events') Events
        label.megaMenuToggle(for='megaMenu-disclosure', title='View more')
          span(role='button', tabindex='0', aria-controls='headerMegaMenu', aria-expanded='true')
            i.megaMenuToggle__icon
            span.megaMenuToggle__text All

    input#megaMenu-disclosure.visuallyhidden(type='checkbox')
    div#megaMenu-wrapper
      .background--dark-navy
        .outer-container.collapse-on-mobile
          .megaMenu
            .grid-container
              .column-one-quarter.collapse-on-mobile
                h3.megaMenu__heading.hide-mobile Export readiness
                ul.megaMenu__list
                  li.megaMenu__list__item.megaMenu__list__item--primary
                    a(title='new to exporting', href='https://www.export.great.gov.uk/new/', class='') New to exporting
                  li.megaMenu__list__item.megaMenu__list__item--primary
                    a(title='occasional exporter', href='https://www.export.great.gov.uk/occasional/', class='') Occasional exporter
                  li.megaMenu__list__item.megaMenu__list__item--primary.megaMenu__list__item--last
                    a.last(title='regular exporter', href='https://www.export.great.gov.uk/regular/', class='') Regular exporter
              .column-one-quarter.collapse-on-mobile
                h3.megaMenu__heading.hide-mobile Online tools
                ul.megaMenu__list
                  li.megaMenu__list__item
                    a(href='https://www.export.great.gov.uk/opportunities', title='Export opportunities', class='') Export opportunities
                  li.megaMenu__list__item
                    a.navigation-toggle-active(href='http://find-a-buyer.export.great.gov.uk/', title='Find a buyer', class='') Find a buyer
                  li.megaMenu__list__item
                    a(href='https://selling-online-overseas.export.great.gov.uk/markets/', title='Selling online overseas', class='') Selling online overseas
              .column-one-quarter.collapse-on-mobile
                h3.megaMenu__heading.hide-mobile Other support
                ul.megaMenu__list
                  li.megaMenu__list__item
                    a(href='https://export.great.gov.uk/get-finance/', title='Get finance', class='') Get finance
                  li.megaMenu__list__item
                    a(href='https://events.trade.gov.uk/', title='Events', class='') Events
              .column-one-quarter.collapse-on-mobile
                h3.megaMenu__heading.hide-mobile About us
                ul.megaMenu__list
                  li.megaMenu__list__item
                    a(href='https://www.export.great.gov.uk/about/', title='About great.gov.uk', class='') About great.gov.uk
                  li.megaMenu__list__item.megaMenu__list__item--last
                    a.last(href='https://contact-us.export.great.gov.uk/selling_online_overseas', title='Contact us', class='') Contact us


      