extends ../layout/base.pug
include ../../../frontend/components/core/templates/mixins.pug
include ../../../frontend/components/TabSwitcher/templates/mixins.pug
block content
  section
    h2.h2 Overview
    p This library is a set of shared UI components and patterns used across the great.gov.uk sites.
    p Please use the naviagtion above the view the different sections

block append foot_scripts
  // home scripts
  script(src="/scripts/pages/home.js")
