extends ../layout/base.pug
include ../../../frontend/components/core/templates/mixins.pug
include ../../../frontend/components/TabSwitcher/templates/mixins.pug
block content
  section
    h2.h2 Patterns
    p Example of patterns used across great.gov.uk
    nav
      ul
        li
          a.link(href='#section-layout') Layout
        li
          a.link(href='#section-typography') Typography

  section(id="section-layout")
  h2.h2 Layout
  +codeblock('html', 'Header', patterns.header)
  +codeblock('html', 'Footer', patterns.footer)

  section(id="section-typography")
  h2.h2 Typography
  p Here are examples of typography used across the site
  +codeblock('html', 'Typography', patterns.typography)

block append foot_scripts
  // home scripts
  script(src="/scripts/pages/home.js")
