extends ../layout/base.pug
include ../../../frontend/components/core/templates/mixins.pug
include ../../../frontend/components/TabSwitcher/templates/mixins.pug
block content
  h1.h1 Patterns
  p Example of patterns used across great.gov.uk

  section(id="section-layout")
  // @TODO re-instate once new header/footer has been researched/designed/tested/
  //- h2.h2 Layout
  //- +codeblock('html', 'Header', patterns.header)
  //- +codeblock('html', 'Footer', patterns.footer)

  section(id="section-typography")
  h2.h2 Typography
  +codeblock('html', 'Typography', patterns.typography)

  section(id="section-partials")
  h2.h2 Page partials

  +codeblock('html', 'Steps', patterns.steps)

  +codeblock('html', 'Steps (on grid)', patterns.stepsOnGrid)

  +codeblock('html', 'Chevrons', patterns.chevrons)

block append foot_scripts
  // home scripts
  script(src="/scripts/pages/home.js")
