include ../../../frontend/components/TabSwitcher/templates/mixins.pug
doctype html
html
  head
    block head_meta
      meta(charset='utf-8')/
      meta(http-equiv='x-ua-compatible' content='ie=edge')/
      meta(name='description' content='')/
      meta(name='viewport' content='width=device-width, initial-scale=1')/
    title Great Pattern Library - GPL| great.gov.uk
    block head_links
      link(rel="icon", type="image/png", href="/images/favicon.ico")
      link(rel='apple-touch-icon' href='/apple-touch-icon.png')/
      // Place favicon.ico in the root directory
      link(rel='stylesheet' href='/styles/main.css')/
      link(rel='stylesheet' href='/styles/library.css')/
      link(rel='stylesheet' href='/vendor/prism-twilight.css')/
  body
    script.
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled')
    //- include ./header
    header.gpl-header
      h1.h1
        a(href="/") Great Pattern Library
      h2.h2 Version #{version}
      nav.gpl-nav
        -
          let navLinks = [
            {href: '/', text: 'Home'},
            {href: '/layout-breakpoints/', text: 'Layout and breakpoints'},
            {href: '/colours-typography/', text: 'Colour and typography'},
            {href: '/links-buttons/', text: 'Links and buttons'},
            {href: '/forms-inputs/', text: 'Forms and inputs'},
            {href: '/blocks-media/', text: 'Blocks and media'},
            {href: '/patterns/', text: 'Patterns'},
          ]
          navLinks.forEach((item, i, arr) => {
            let classes = []
            if (item.href === req.path) {
              classes.push('gpl-nav__item--current')
            }
            item.classes = classes
          })

        each item in navLinks
          a.gpl-nav__item(href=`${item.href}`, class=item.classes) !{item.text}

    .outer-container(id="content")
        block content
    // end of outer container

    //- include ./footer
    block foot_scripts
      script(src="/vendor/js/jquery.js")
      script(src="/vendor/js/navigation.js")
      script(src="/vendor/js/sso.js")
      script(src="/scripts/pages/core.js")
