//- //- legacy footer DO NOT USE
footer(role=contentinfo)
  .footer.background--great-blue.soft--top
    .outer-container
      .footer-section
        .col-8
          a(href="https://www.export.great.gov.uk/" title="Go to the Exporting is GREAT homepage")
            img.footer-logo(src="/images/eig-logo-stacked.svg" alt="Exporting is GREAT logo")
        .col-4
          ul.footer-links.footer-links--border.font-regular
            li.push-half--bottom
              a(href="https://www.export.great.gov.uk/new/" title="New to exporting") New to exporting
            li.push-half--bottom
              a(href="https://www.export.great.gov.uk/occasional/" title="Occasional exporter") Occasional exporter
            li
              a(href="https://www.export.great.gov.uk/regular/" title="Regular exporter") Regular exporter
      .footer-section.footer-section-right
        .col-6
          ul.footer-links.footer-middle-section
            li.push-half--bottom
              a(href="https://www.export.great.gov.uk/opportunities" title="Export opportunities") Export opportunities
            li.push-half--bottom
              a(href="https://find-a-buyer.export.great.gov.uk/" title="Find a buyer") Find a buyer
            li.push-half--bottom
              a(href="https://selling-online-overseas.export.great.gov.uk/markets/" title="Selling online overseas") Selling online overseas
            li.push-half--bottom
              a(href="https://export.great.gov.uk/get-finance/" title="Get finance") Get finance
            li
              a(href="https://events.trade.gov.uk/" title="Exporting Events") Events
        .col-6
          ul.footer-links.footer-links--border
            li.push-half--bottom
              a(href="https://www.export.great.gov.uk/about/" title="About great.gov.uk") About great.gov.uk
            li.push-half--bottom
              a(href="https://contact-us.export.great.gov.uk/selling_online_overseas" title="Contact us") Contact us
            li.push-half--bottom
              a(href="https://www.export.great.gov.uk/privacy-and-cookies/" title="Privacy and Cookies")
                | Privacy &amp; cookies
            li.push-half--bottom
              a(href="https://www.export.great.gov.uk/terms-and-conditions/" title="Terms and conditions")
                | Terms &amp; conditions
            li
              a(href="https://www.gov.uk/government/organisations/department-for-international-trade" title="Department for International Trade") Department for International Trade
    .outer-container
      .footer-bottom
        .navigation-strip
          ul.list-inline.list-separators
            li.float--left.soft-half--right
              a.logo-hmg(href="https://www.gov.uk/" title="Go to the GOV.UK homepage")
                img(src="images/hm_government_logo_horizontal.svg" alt="HM Government logo")/
            li.float--left.soft-half--left.footer-links--border
              a.link.link--white(href="https://www.great.gov.uk/" title="part of great.gov.uk")
                span.hide-mobile.font-light-grey.font-light Part of
                span.font-regular great.gov.uk
        .footer-copy.font-light-grey.font-xsmall
          p
            | &copy; Crown copyright 2017. All rights reserved.
